.country-map {
  align-self: center;
  justify-self: center;
}

.obv-drop {
  padding: 10px 0px 10px 20px;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: auto;
}

.type-content{
  display: flex;
  flex-wrap: wrap;
}

.main-button {
  display: grid;
  padding: 20px 0px 20px 20px;
}

.rounded {
  border-radius: 50%;
  box-shadow: 2px 2px 2px #999999;
  background: white;
}

.pseudo-text {
  margin-top: 10px;
}

.paddington {
  padding-top: 10px;
}

.radio-item{
  padding-left: 5px;
  padding-right: 5px;
  color: #999999;
  font-size: 14px;
  display: flex;
}

h5 {
  color: #434343
}
