.date {
  background: #434343;
  font-family: 'Courier';
}

.main-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 10px;
}

.items-pad {
  padding: 0px 20px 0px 0px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.stamp-overview {
  padding: 20px;
}

.greyish {
  background: #434343;
  font-family: 'Courier';
  color: #00bc8c;
  cursor: pointer;
}

h5 {
    display: inline;
    width: auto;
}
