<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <section id='login'>
    <h1>Home</h1>
    <p>Please <a href="/register">register</a> or <a href="/login">log in</a></p>
  </section>
</body>

</html>