.selection-interface{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin-bottom: 20px;
}

.obv-drop {
  padding: 20px;
  display: grid;
  grid-template-columns: 90px 1fr;
  margin-bottom: auto;
}

.bukvitsa::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
}

.indent {
  text-indent: 15px;
  padding-bottom: 10px;
}