.image-right {
  float: center;
}

.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.items-centered {
  display: flex;
  justify-content: space-around;
}

.top-add{
  padding-top: 10px;
  display: flex;
  align-items: center; /* Center vertically */
}

.janin-nr{
  margin-right: 10px;
  background-color: darksalmon;
  max-width: 50px;
  text-align: center; /* Center the text horizontally */
}

.capitalize {
  text-transform: uppercase;
  font-size: smaller;
  font-family: 'Courier';
  font-weight: bolder;
}

.capitalize::first-letter {
  font-size: 120%;
}

.top-30{
  padding-top: 30px;
}

.flex-header {
  padding-left: 30px;
  padding-bottom: 10px;
  align-content: flex-start;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-top: 10px;
 
  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.pad-left {
  padding-left: 40px;
}

.quantity {
  font-size: 10px;
}
